@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}
li{
    list-style-type: none;
}
.titu{
    font-family: 'idroid';

}
header{
    text-align: center;
    background-color: rgb(115, 187, 115) ;
}
nav{
    text-align: left;
    
}
nav>a{
    text-decoration: none;
}

body{
    background-color: aquamarine;
}
main{
    background-color: aliceblue;
    padding: 10px;
    text-align: justify;
    margin-top: 10px;
}
footer{
    background-color: rgb(14, 124, 124);
    margin: none;
}